body {
}

.header {
  border: 1px solid blue;
}

.mainbanner {
  position: relative;
  height: 320px;
  background: linear-gradient(180deg, #ffee58 0%, #ffdc5f 100%);
  box-shadow: 0px 0px 30px rgba(228, 229, 231, 0.1);
  border-radius: 32px;
}

.wearedCard {
  position: absolute;
  width: 486px;
  height: 272px;
  right: 102px;
  top: 72px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(12, 12, 14, 0.03);
  border-radius: 32px;
}

.time {
  margin-top: 56px;
  border: 1px solid blue;
}

.time .content {
  height: 216px;

  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(12, 12, 14, 0.03);
  border-radius: 32px;
}
